@model Datalayer.Entities.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";
    string profilepictureUrl = "";
    profilepictureUrl = Model.PictureURL;
    bool IsFriends = ViewBag.IsFriends;
    int Sender = Convert.ToInt32(Session["UserID"]);
    int Reciever = ViewBag.ProfilId;
}


<script>
        //Skickar JSON-data till API-Controllern för att lägga till en post.
        function addPost() {
            var TextContent = $('#TextContent').val();
            var Sender = @Sender;
            var Reciever = @Reciever;
            var newPost = { SenderID: Sender, ReciverID: Reciever, TextContent: TextContent };
            if (TextContent == null || TextContent == "") {
                alert("You must enter a message!")
            } else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("insertPost", "Post", new { httproute = "" })',
                    data: JSON.stringify(newPost),
                    contentType: 'application/json',
                    datatype: 'json',
                    success: function (data) {
                        $('#TextContent').val('');
                        //Refreshar sidan efter lyckat inlägg.
                        location.reload();
                    }
                });
            }
            };
</script>


<h2>@Model.Firstname @Model.Lastname</h2>
<div class="profilecontainer">
    <div class="wallcontainer2">
        <dl class="dl-horizontal">
            <dd>
                <img src=@profilepictureUrl width="150" height="150" />
            </dd>
            <dt>
                @Html.LabelFor(model => model.Firstname, "Firstname:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Lastname, "Lastname:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Gender, "Gender:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Age, "Age:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt>
                @Html.LabelFor(model => model.About, "About:")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.About)
            </dd>
        </dl>
        @if (IsFriends == false)
        {
            @Html.ActionLink("Add friend", "AddFriend", new { id = Model.Id }, null)
        }
    </div>

    <div class="wallcontainer">
        <div class="walldiv">
            Skriv ett inlägg:
            <br />
            <textarea id="TextContent" rows="3" cols="500"></textarea><br />
            <button onclick="addPost()">Skicka inlägg</button>
        </div>
        <br />
        <div class="walldiv">
            Inlägg:
            <ul id="postlist">
                @foreach (var posts in ViewBag.PostsForUser)
                {
                    <li>
                        <B>@posts[0]</B>
                        <br />
                        @posts[1]
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
